@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400,700&display=swap');

* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: wheat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}




.title h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.title p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button {
    background-color: #2a4541;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #1e302d;
}
